{% if not cart.isClosed %}
    {% if cart.nbItems > 0 %}
        <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn-cart has-item">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="cart-items-number">{{ cart.nbItems }}</span>
            <span class="cart-title desktop-only">{{ 'cart.title'|trans }}</span>
            <span class="small-price">{{ cart.total|number_format_currency(open_miam_miam.currency) }}</span>
        </a>
    {% else %}
        <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn-cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="cart-items-number">0</span>
            <span class="cart-title desktop-only">{{ 'cart.title'|trans }}</span>
            <span class="cart-empty desktop-only">{{ 'cart.empty'|trans }}</span>
        </a>
    {% endif %}
{% else %}
    <div class="desktop-only">
        <strong>{{ 'cart.title'|trans }}</strong><br>
        <span class="glyphicon glyphicon-time"></span>
        {{ 'cart.order_closed'|trans }}
    </div>
    <div class="phone-only">
        <button class="btn-cart disabled">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="cart-items-number">0</span>
        </button>
    </div>
{% endif %}