<div class="cart-wrapper">
    {% if not cart.isClosed %}
        {% if cart.nbItems > 0 %}
            <strong class="cart-title desktop-only">{{ 'cart.title'|trans }}</strong>
            <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn-cart has-item">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="cart-items-number">{{ cart.nbItems }}</span>
                <span class="small-price">{{ cart.total|number_format_currency(open_miam_miam.currency) }}</span>
            </a>
        {% else %}
            <strong class="cart-title desktop-only">{{ 'cart.title'|trans }}</strong>
            <span class="btn-cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="cart-items-number">0</span>
            <span class="cart-empty desktop-only">{{ 'cart.empty'|trans }}</span>
        </span>
        {% endif %}
    {% else %}
        <div class="desktop-only">
            <strong>{{ 'cart.title'|trans }}</strong><br>
            <span class="glyphicon glyphicon-time"></span>
            {{ 'cart.order_closed'|trans }}
        </div>
        <div class="phone-only">
            <div class="btn-cart disabled">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="cart-items-number">0</span>
            </div>
        </div>
    {% endif %}
</div>