{% if not cart.isClosed %}
    {% if cart.nbItems > 0 %}
        <div class="desktop-only">
            <strong>
                {{ 'cart.title'|trans }}
                <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}">
                    ({{ cart.nbItems }})
                    {{ cart.total|number_format_currency(open_miam_miam.currency) }}
                </a>
            </strong>
            <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn btn-primary btn-block">
                <span class="icon-shopping-cart"></span>
                {{ 'cart.checkout'|trans }}
            </a>
        </div>
        <div class="phone-only">
            <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn btn-default btn-cart btn-block has-item">
                <span class="icon-shopping-basket"></span>
                <span class="cart-items-number">{{ cart.nbItems }}</span>
                <span class="small-price">{{ cart.total|number_format_currency(open_miam_miam.currency) }}</span>
            </a>
        </div>
    {% else %}
        <div class="desktop-only">
            <strong>{{ 'cart.title'|trans }} (0)</strong><br>
            {{ 'cart.empty'|trans }}
        </div>
        <div class="phone-only">
            <a href="{{ path('open_miam_miam.cart.show', {'branchSlug': branch.slug}) }}" class="btn btn-default btn-cart btn-block">
                <span class="icon-shopping-basket"></span>
                <span class="cart-items-number">0</span>
            </a>
        </div>
    {% endif %}
{% else %}
    <div class="desktop-only">
        <strong>{{ 'cart.title'|trans }}</strong><br>
        <span class="glyphicon glyphicon-time"></span>
        {{ 'cart.order_closed'|trans }}
    </div>
    <div class="phone-only">
        <button class="btn btn-default btn-cart disabled">
            <span class="icon-shopping-basket"></span>
            <span class="cart-items-number">0</span>
        </button>
    </div>
{% endif %}