{#
# This file is part of the OpenMiamMiam project.
# (c) Isics <contact@isics.fr>
#
# This source file is subject to the AGPL v3 license that is bundled
# with this source code in the file LICENSE.
#}

{% set branchOccurenceClass=(nextBranchOccurrence is not null and openingDateTime is not null) ? 'closed' : '' %}

<div id="header-branch-name" class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-1">
    <div class="branch-name-wrapper">
        {% if homepage %}
            <h1 class="branch-title">
                <span class="ellipsis">{{ branch.city }}</span>
                <span class="leftover">{{ '('~branch.departmentNumber~')' }}</span>
            </h1>
        {% else %}
            <strong class="branch-title">
                <span class="ellipsis">{{ branch.city }}</span>
                <span class="leftover">{{ '('~branch.departmentNumber~')' }}</span>
            </strong>
        {% endif %}
        <small class="desktop-only">{{ branch.association.name }}</small>
        <a href="{{ path('open_miam_miam.homepage') }}" id="header-branch-change-link">
            <span class="glyphicon glyphicon-refresh"></span>
            <span class="desktop-only">{{ 'zone.header.branch.change'|trans }}</span>
        </a>
    </div>
</div>

<div id="header-branch-occurrence" class="col-md-3 col-sm-4 branch-occurence {{ branchOccurenceClass }}">
    <div class="branch-occurrence-wrapper">
        {% if nextBranchOccurrence is not null %}
            <strong>{{ 'zone.occurrence.title'|trans }}</strong>
            <a href="#" class="branch-occurrence-date">
                {{ nextBranchOccurrence.begin|format_date('eee dd MMMM')|capitalize }}
                {{ nextBranchOccurrence.begin|format_time('HH:mm') }}&nbsp;-&nbsp;{{ nextBranchOccurrence.end|format_time('HH:mm') }}
            </a>
            {% if openingDateTime is null and closingDateTime is not null %}
                <div class="branch-occurrence-order-before">
                    <i class="glyphicon glyphicon-time"></i>
                    {{ 'zone.occurrence.order.before'|trans }}
                    {{ closingDateTime|format_datetime('dd/MM') }}&nbsp;{{ closingDateTime|format_datetime('HH:mm') }}
                </div>
            {% elseif openingDateTime is not null %}
                <div class="branch-occurrence-order-from">
                    {{ 'zone.occurrence.order.from'|trans({'%date%': openingDateTime|format_datetime('dd MMMM'), '%time%': openingDateTime|format_datetime('HH:mm')}) }}
                </div>
            {% endif %}
        {% else %}
            {{ 'zone.occurrence.no.next.date'|trans }}
        {% endif %}
    </div>
</div>

<div id="header-cart" class="col-md-3 col-sm-3">
    {% include 'IsicsOpenMiamMiamBundle:Cart:headerCart.html.twig' %}
</div>