{#
 # This file is part of the OpenMiamMiam project.
 # (c) Isics <contact@isics.fr>
 #
 # This source file is subject to the AGPL v3 license that is bundled
 # with this source code in the file LICENSE.
 #}
 <div class="branch-name visible-xs visible-sm">
    {% if homepage %}
        <h1 class="branch-title">
            <span class="ellipsis">{{ branch.city }}</span>
            <span class="departement-number">{{ '('~branch.departmentNumber~')' }}</span>
        </h1>
    {% else %}
        <span class="branch-title">
            <span class="ellipsis">{{ branch.city }}</span>
            <span class="departement-number">{{ '('~branch.departmentNumber~')' }}</span>
        </span>
    {% endif %}
    <a href="{{ path('open_miam_miam.homepage') }}" id="header-branch-change-link-responsive">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>